In [91]:
import pandas as pd
import numpy as np

 __1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.__

In [92]:
ds = pd.Series([1, 2, 3, 4, 5])
ds

0    1
1    2
2    3
3    4
4    5
dtype: int64

__2. Write a Pandas program to convert a Panda module Series to Python list and it's type.__

In [93]:
ds.tolist()

[1, 2, 3, 4, 5]

__3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.__

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [94]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
print('add two series:')
print(ds1 + ds2)
print('subtract two series:')
print(ds1 - ds2)
print('multiply two series')
print(ds1 * ds2)
print('divide two series:')
print(ds1 / ds2)

add two series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
subtract two series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
multiply two series
0     2
1    12
2    30
3    56
4    90
dtype: int64
divide two series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

__4. Write a Pandas program to compare the elements of the two Pandas Series.__

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [95]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
print('элементы равны:')
print(ds1 == ds2)
print('элемент в ds1 больше:')
print(ds1>ds2)
print('элемент в ds1 меньше:')
print(ds1<ds2)

элементы равны:
0    False
1    False
2    False
3    False
4    False
dtype: bool
элемент в ds1 больше:
0    True
1    True
2    True
3    True
4    True
dtype: bool
элемент в ds1 меньше:
0    False
1    False
2    False
3    False
4    False
dtype: bool

__5. Write a Pandas program to convert a dictionary to a Pandas series.__

In [96]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(dict)

a    100
b    200
c    300
d    400
e    800
dtype: int64

__6. Write a Pandas program to convert a NumPy array to a Pandas series.__

In [97]:
a = np.array([10, 20, 30, 40, 50])

pd.Series(a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

__7. Write a Pandas program to change the data type of given a column or a Series.__

In [98]:
ds = pd.Series([100,200, 'python', 300.12, 400])
print(ds)
print('change type:')
print(pd.to_numeric(ds, errors='coerce')) # принужденная конвертация

0       100
1       200
2    python
3    300.12
4       400
dtype: object
change type:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

__8. Write a Pandas program to convert the first column of a DataFrame as a Series.__

In [99]:
dict = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data = dict)
print(df)

print(pd.Series(df['col1']))

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
0    1
1    2
2    3
Name: col1, dtype: int64

__9. Write a Pandas program to convert a given Series to an array.__

In [100]:
ds = pd.Series([100,200, 'python', 300.12, 400])
print(ds)

print(ds.to_list())

0       100
1       200
2    python
3    300.12
4       400
dtype: object
[100, 200, 'python', 300.12, 400]

__10. Write a Pandas program to convert Series of lists to one Series.__

`ds.apply(pd.Series)` - применяет к каждому элементу серии функции создания серии. После чего образуется ДатаФрейм.

`.stack()` - преобразование ДатаФрейма в серию с многоуровневым индексом.

`.reset_index(drop=True)` - сбрасывает индекс. параметр `drop=True` указывает, что индексы будут отброшены, а не добавлены в качестве столбца.

In [101]:
ds = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

print(ds)

print(ds.apply(pd.Series).stack().reset_index(drop = True))

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

__11. Write a Pandas program to sort a given Series.__

In [102]:
ds = pd.Series(['100',"200", 'python', "300.12", "400"])
print(ds)

ds.sort_values()

0       100
1       200
2    python
3    300.12
4       400
dtype: object

0       100
1       200
3    300.12
4       400
2    python
dtype: object

__12. Write a Pandas program to add some data to an existing Series.__

`pd.concat` - обьединение обьектов по определенной оси.

In [103]:
ds = pd.Series(['100',"200", 'python', "300.12", "400"])

pd.concat([ds, pd.Series(['500', 'php'])], ignore_index=True)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

__13. Write a Pandas program to create a subset of a given series based on value and condition.__

In [104]:
ds = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

subset = ds[ds<6] # подзапрос

subset

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

__14. Write a Pandas program to change the order of index of a given series.__

In [105]:
ds = pd.Series([1, 2, 3, 4, 5], index=['A', 'B', 'C', 'D', 'E'])

print(ds)

ds.reindex(index =['B', 'A', 'C', 'D', 'E'] )

A    1
B    2
C    3
D    4
E    5
dtype: int64

B    2
A    1
C    3
D    4
E    5
dtype: int64

__15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.__

In [106]:
ds = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])

print(f'Mean - {ds.mean()}') # среднее значение по выборке
print(f'Standard - {ds.std()}') # стандартное отклонение

Mean - 4.818181818181818
Standard - 2.522624895547565

__16. Write a Pandas program to get the items of a given series not present in another given series.__

In [107]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([2, 4, 6, 8, 10])

ds1[~ds1.isin(ds2)]

0    1
2    3
4    5
dtype: int64

__17. Write a Pandas program to get the items which are not common of two given series.__

In [108]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([2, 4, 6, 8, 10])

ds_union = np.union1d(ds1, ds2) # объединение
ds_intersect = np.intersect1d(ds1,ds2) # пересечение

print(pd.Series(np.setdiff1d(ds_union, ds_intersect))) # вычитание

0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

__18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.__

In [109]:
num_state = np.random.RandomState(100) # создание генератора чисел

ds = pd.Series(num_state.normal(10, 4, 20)) # μ = 10, σ = 4, count = 20

print(ds)

print(np.percentile(ds, q = [0, 25, 50, 75, 100]))

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

Перцентили - это значения, которые делят данные на части. В данном случае вычисляются следующие перцентили:

- 0-й перцентиль (минимальное значение)
- 25-й перцентиль (значение, ниже которого находится 25% данных)
- 50-й перцентиль (медиана, значение, ниже которого находится 50% данных)
- 75-й перцентиль (значение, ниже которого находится 75% данных)
- 100-й перцентиль (максимальное значение)

__19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.__

In [110]:
ds = pd.Series(np.take(list('0123456789'), np.random.randint(10, size = 40)))
print(ds.head(5))
print(ds.value_counts())

0    7
1    4
2    9
3    6
4    1
dtype: object
1    7
8    6
9    5
0    5
4    4
6    4
2    3
7    2
3    2
5    2
Name: count, dtype: int64

`np.take` - выбирает элементы из списка '0123456789' по указанным индексам.
`np.random.randint(10, size=40)` - генерирует 40 случайных чисел из диапазона 0 до 9 (первый параметр 10)

__20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.__

In [111]:
ds = pd.Series(np.random.randint(1,5, [15]))
print('Оригинальная серия: ')
print(ds)
print('Подсчет элементов в серии:')
print(ds.value_counts())

ds[~ds.isin(ds.value_counts().index[:1])] = 'Other'

print('Итоговая сериая')
print(ds)

Оригинальная серия:
0     1
1     2
2     3
3     4
4     2
5     3
6     1
7     2
8     4
9     2
10    3
11    2
12    3
13    2
14    1
dtype: int32
Подсчет элементов в серии:
2    6
3    4
1    3
4    2
Name: count, dtype: int64
Итоговая сериая
0     Other
1         2
2     Other
3     Other
4         2
5     Other
6     Other
7         2
8     Other
9         2
10    Other
11        2
12    Other
13        2
14    Other
dtype: object

C:\Users\setus\AppData\Local\Temp\ipykernel_17892\118258640.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ds[~ds.isin(ds.value_counts().index[:1])] = 'Other'

__21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.__

In [112]:
ds = pd.Series(np.random.randint(1,10,[10]))
print('Original Series:')
print(ds)
print('Values are multiples of 5')
print(ds[ds%5==0])
print('indexes:')
list(ds[ds%5==0].index)

Original Series:
0    9
1    1
2    7
3    7
4    7
5    2
6    8
7    2
8    4
9    6
dtype: int32
Values are multiples of 5
Series([], dtype: int32)
indexes:

[]

__22. Write a Pandas program to extract items at given positions of a given series.__

In [113]:
ds = pd.Series(np.random.randint(0,10, [22]))
print('Original Series:')
print(ds.head(5))
pos = [0, 2, 6, 11, 21]
print('Items at given positions:')
print(ds.take(pos))

Original Series:
0    2
1    5
2    5
3    1
4    7
dtype: int32
Items at given positions:
0     2
2     5
6     8
11    9
21    5
dtype: int32

__23. Write a Pandas program to get the positions of items of a given series in another given series.__

In [114]:
ds1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
ds2 = pd.Series([1,3,5,7,10])
print('Original Series:')
print(ds1)
print(ds2)
print('Positions of items of series2 in series1:')
[pd.Index(ds1).get_loc(i) for i in ds2] # получить индекс по значению

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:

[0, 2, 4, 6, 9]

__24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.__

In [115]:
ds = pd.Series(['php', 'python', 'java', 'c#'])
print('Original Series:')
print(ds)
print('First and last character of each word to upper case:')
ds = pd.Series([i[:1].upper()+i[1:-1]+i[-1].upper() for i in ds])
ds

Original Series:
0       php
1    python
2      java
3        c#
dtype: object
First and last character of each word to upper case:

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [116]:
ds = pd.Series(['php', 'python', 'java', 'c#'])
print('Original Series:')
print(ds)
print('First and last character of each word to upper case:')
ds = ds.map(lambda x: x[0].upper() + x[1:-1]+x[-1].upper())
ds

Original Series:
0       php
1    python
2      java
3        c#
dtype: object
First and last character of each word to upper case:

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

__25. Write a Pandas program to calculate the number of characters in each word in a given series.__

In [117]:
ds = pd.Series(['php', 'python', 'java', 'c#'])
print('Original Series:')
print(ds)
print('Number of characters in each word in the said series:')
ds.map(lambda x: len(x))

Original Series:
0       php
1    python
2      java
3        c#
dtype: object
Number of characters in each word in the said series:

0    3
1    6
2    4
3    2
dtype: int64

__26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.__

In [118]:
ds = pd.Series([1,3,5,8,10,11,15])
print('Original Series:')
print(ds)
print('Difference of differences between consecutive numbers of the said series:')
print(ds.diff().tolist())
print(ds.diff().diff().tolist())

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64
Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

`Series.diff()` - вычислеяет разницу элемента серии по сравнению с другим элементом серии (по умолчанию — элемент в предыдущей строке).

__27. Write a Pandas program to convert a series of date strings to a timeseries.__

__28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.__

__29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.__

__30. Write a Pandas program to filter words from a given series that contain atleast two vowels.__

In [123]:
ds = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(ds)
vowles = 'aeiou'
count_vowles = ds.map(lambda x: sum(1 for i in x if i in vowles))
ds[count_vowles>=2]

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

1     Green
2    Orange
4    Yellow
5     White
dtype: object

__31. Write a Pandas program to compute the Euclidean distance between two given series.__

__32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.__

In [127]:
ds = pd.Series([1,8,7,5,6,5,3,4,7,1])
[i for i in range(1,len(ds)-1) if ds[i-1]<ds[i]>ds[i+1]]

[1, 4, 8]

__33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.__

In [136]:
str1 = 'abc def abcdef icd'
print("Original series:")
print(str1)
ds = pd.Series(list(str1))
print('Value counts:')
count = ds.value_counts() # сортирует от большего к меньшиму
print(count)
min_symbol = count.index[-1]
print(str1.replace(' ', min_symbol))

Original series:
abc def abcdef icd
Value counts:
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64
abcidefiabcdefiicd

__Write a Pandas program to compute the autocorrelations of a given numeric series.__

__35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.__

In [140]:
ds = pd.Series(pd.date_range('2024-01-01', '2024-12-31', freq='W-SUN'))
print("All Sundays of 2024:")
print(ds)

All Sundays of 2024:
0    2024-01-07
1    2024-01-14
2    2024-01-21
3    2024-01-28
4    2024-02-04
5    2024-02-11
6    2024-02-18
7    2024-02-25
8    2024-03-03
9    2024-03-10
10   2024-03-17
11   2024-03-24
12   2024-03-31
13   2024-04-07
14   2024-04-14
15   2024-04-21
16   2024-04-28
17   2024-05-05
18   2024-05-12
19   2024-05-19
20   2024-05-26
21   2024-06-02
22   2024-06-09
23   2024-06-16
24   2024-06-23
25   2024-06-30
26   2024-07-07
27   2024-07-14
28   2024-07-21
29   2024-07-28
30   2024-08-04
31   2024-08-11
32   2024-08-18
33   2024-08-25
34   2024-09-01
35   2024-09-08
36   2024-09-15
37   2024-09-22
38   2024-09-29
39   2024-10-06
40   2024-10-13
41   2024-10-20
42   2024-10-27
43   2024-11-03
44   2024-11-10
45   2024-11-17
46   2024-11-24
47   2024-12-01
48   2024-12-08
49   2024-12-15
50   2024-12-22
51   2024-12-29
dtype: datetime64[ns]

__36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.__

In [144]:
ds = pd.Series(list('ABCDEFGHIJKLMNOP'))
ds.to_frame().reset_index()

    index  0
0       0  A
1       1  B
2       2  C
3       3  D
4       4  E
5       5  F
6       6  G
7       7  H
8       8  I
9       9  J
10     10  K
11     11  L
12     12  M
13     13  N
14     14  O
15     15  P

__37. Write a Pandas program to stack two given series vertically and horizontally.__

In [150]:
ds1 = pd.Series(range(10))
ds2 = pd.Series(list('pqrstuvwxy'))

print(pd.concat([ds1, ds2], axis = 1))

print(pd.concat([ds1, ds2]))

   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

__38. Write a Pandas program to check the equality of two given series.__

In [152]:
ds1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
ds2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
ds1 == ds2

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

__39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.__

In [155]:
ds = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print('index of the min')
print(ds.idxmin())
print('index of the max')
print(ds.idxmax())

index of the min
9
index of the max
4